<div class="container">
    <div class="row" >

        <div class="card" style="width: 18rem;"  *ngFor="let student of alumnoList">
            <img src="{{student.foto}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"> Nombre: {{student.nombre_alu}} {{student.ap_alu}} {{student.am_alu}}</h5>
              <p class="card-text">Edad:{{student.edad_alu}}</p>
              <!--a href="#" class="btn btn-primary">Go somewhere</a-->
            </div>
          </div>
    </div>
</div>