<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home" routerLinkActive="active" >home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/input-output" routerLinkActive="active" >Input-Ouput</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/app-service-parent" routerLinkActive="active">Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/app-poke-list" routerLinkActive="active" >Todo app</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" target="_blank" href="https://redux.js.org/">Redux</a>
    </li>
</ul>